.row 
  .large-6.columns
    %h5 
      %a{:href => "#"} 
        Login
    .login-form
      %form
        %input{:type => "text", :value => "enter the user id"}/
        %input{:type => "text", :value => "enter the password"}/
        %input.button{:type => "submit"}/