%h1
  Welcome to WhatSay?
%h4
  The act of smelling something, anything, is remarkably like the act of thinking. Immediately at the moment of perception, you can feel the mind going to work, sending the odor around from place to place, setting off complex repertories through the brain, polling one center after another for signs of re recognition, for old memories and old connection
.row 
  .large-6.columns
    %h5 
      %a{:href => "#"} 
        Login
    .login-form
      %form
        %input{:type => "text", :value => "enter the user id"}/
        %input{:type => "text", :value => "enter the password"}/
        %input.button{:type => "submit"}/

  .large-6.columns
    %h5 
      %a{:href => "#"} 
        Register
    .signup-form
      %form
        %input{:type => "text", :value => "enter your first name"}/
        %input{:type => "text", :value => "enter your last name"}/
        %input{:type => "text", :value => "Choose your password"}/
        %input{:type => "text", :value => "Confirm Password"}/
        %input.button{:type => "submit"}/