.pollBox
  %h3 Title Of The Suggestion
  %label
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
    took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
    but also the leap into electronic typesetting, remaining essentially unchanged.
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  .result
    %table
      %tbody
        %tr
          %th Idea
          %th Description
          %th Givers
        %tr
          %td
            %label Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
          %td
            %label Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
          %td
            %label user webonise
        %tr
          %td
            %label Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
          %td
            %label Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
          %td
            %label user webonise
        %tr
          %td
            %label Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
          %td
            %label Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
          %td
            %label user webonise
        %tr
          %td
            %label Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
          %td
            %label Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum.
          %td
            %label user webonise