.row
  .box.large-10.large-offset-1
    %ul.tabs.switchForm
      %li.large-4.columns.selected
        %a{:href => ""} My Polls
      %li.large-4.columns
        %a{:href => ""} Top Polls
      %li.large-4.columns
        %a{:href => ""} Current Polls
    .topPolls.tabDetails#tabCont_1
      %h5 My Polls
      %a.createNew{:href => "#"} 
        Create a new poll
      %ul
        - @my_polls.each do |my_poll|
          %li
            %a.pollQuestion{:href => "/polls/#{my_poll.id}"} #{my_poll.topic}
            / %span.pollQuestion Top Polling Question
            - my_poll.field_options.each do |poll_option| 
              %strong poll_option 
              %strong 1 
            %ul.stars
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
              %li
                %a{:href => "#"} 
    .topPolls.tabDetails#tabCont_2
      %h5 top polls
      %ul
        %li
          %a{:href => "#",:class=>"pollQuestion"} 
            -#%span.pollQuestion Top Polling Question
          %strong Yes
          %strong No
          %em 80%
          %ul.stars
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"}
    .currentPolls.tabDetails#tabCont_3
      %h5 Current polls
      %ul
        %li
          %a{:href => "#"} Top Polling Question
          -#%span.pollQuestion Top Polling Question
          %strong Yes
          %strong No
          %em 80%
          %ul.stars
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"} 
            %li
              %a{:href => "#"} 