@import mixins

$baseBG : #eef3fa


header
  background-color: $baseBG
  +box-shadow (0 4px 2px -2px gray)

.switchForm
  li
    +pullLeft
    +textCenter

.askForVotes
  label
    +textRight
    margin-bottom: 10px
  .custom
    +pullRight
    margin-left: 5px

.addButton
  input,
  textarea
    margin-bottom: 0

.tabDetails
  +hidden
  padding: 20px
  border: 1px solid #2ba6cb
  border-top: 0


#tabCont_1
  +block

.clearfix
  *zoom: 1
  &:before
  &:after
    display: table
    content: ""
    line-height: 0
  &:after
    clear: both


.box
  box-shadow: 2px 2px 2px #ddd
  li
    list-style: none
    padding: 10px
    height: auto
    overflow: hidden

.tabs
  height: auto
  overflow: auto
  margin: 15px 0 0 0

.topPolls, .currentPolls
  border: 1px solid #2ba6cb
  border-top: none
  margin-top: -1px

.tabs li
  border: 1px solid #2ba6cb
  padding: 5px
  text-align: center
  font-weight: bold
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 92%)
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 92%)
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 92%)
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%)
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%)
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 92%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )
  &.selected
    background: #fff
    border-bottom: 0px
    a
      color: red
.box h5
  text-transform: capitalize
  color: #2ba6cb
  padding: 15px 20px 0
  margin: 0

// .topPolls ul li:nth-child(even)
//   background: #cccccc

.pollQuestion
  margin: 0 10px
  float: left
  display: block
  width: 60%
  height: auto
  overflow: auto

.box
  strong
    margin-right: 27px
    float: left
  em
    float: left


.stars
  float: right
  li
    +pullLeft
    padding: 0
    background: none
    a
      width: 20px
      height: 20px
      +block
      background: url(star.png) 0 0 no-repeat
      &:hover,
      &.active,
      &.rated
        background-position: 0 -20px

